<form [formGroup]="loginForm" class="form">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" type="text" matInput placeholder="name" />
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      type="password"
      matInput
      placeholder="password"
    />
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      type="password"
      matInput
      placeholder="password"
    />
    <mat-icon matSuffix>password</mat-icon>
  </mat-form-field>
</form>
<div class="form-btn">
  <button
    [disabled]="!loginForm.valid"
    (click)="onSubmit()"
    mat-button
    color="accent"
  >
    {{ button }}
  </button>
</div>
