<form [formGroup]="loginForm" class="form">
  <mat-form-field
    *ngIf="button === formType.SIGNIN"
    color="accent"
    appearance="outline"
  >
    <mat-label>Name</mat-label>
    <input formControlName="name" type="text" matInput placeholder="name" />
    <mat-icon matSuffix>home</mat-icon>
    <mat-error *ngIf="loginForm.controls['name'].hasError('required')"
      >Name is required</mat-error
    >
  </mat-form-field>
  <div class="container-spinner">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        type="email"
        matInput
        placeholder="email"
      />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="loginForm.controls['email'].hasError('required')"
        >Email is required</mat-error
      >
      <mat-error *ngIf="loginForm.controls['email'].hasError('email')"
        >Please check email, invalid format</mat-error
      >
      <mat-error
        *ngIf="loginForm.controls['email'].hasError('unableToVerifyEmail')"
        >email verification failed, try later</mat-error
      >
    </mat-form-field>

    <mat-spinner
      color="accent"
      *ngIf="(loginForm.controls['email'].statusChanges | async) === 'PENDING'"
    ></mat-spinner>
  </div>

  <mat-form-field color="accent" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      placeholder="password"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')"
      >Password is required</mat-error
    >
  </mat-form-field>

  <mat-form-field
    *ngIf="button === formType.SIGNIN"
    color="accent"
    appearance="outline"
  >
    <mat-label>Confirm Password</mat-label>
    <input
      formControlName="confirmPassword"
      type="password"
      matInput
      [type]="confirmPasswordHide ? 'password' : 'text'"
      placeholder="confirm password"
      [errorStateMatcher]="confirmValidParentMatcher"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="confirmPasswordHide = !confirmPasswordHide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="confirmPasswordHide"
    >
      <mat-icon>{{
        confirmPasswordHide ? 'visibility_off' : 'visibility'
      }}</mat-icon>
    </button>
    <mat-error
      *ngIf="loginForm.controls['confirmPassword'].hasError('required')"
      >Please re-enter your password</mat-error
    >
    <mat-error *ngIf="loginForm.hasError('passwordMisMatch')"
      >Password entered is different</mat-error
    >
  </mat-form-field>
</form>
<div class="form-btn">
  <button
    [disabled]="(isSubmitting$ | async) || !loginForm.valid"
    (click)="onSubmit()"
    mat-button
    color="accent"
  >
    {{ button }}
  </button>
</div>
